/*INDEX (HOMEPAGE)---------------------------------------*/

/* clearfix with overflow */
#home #restaurant .wrapper,
#home #restaurant .wrapper .text,
#home #restaurant .wrapper .button_wrapper {
    overflow: hidden;
}

#home #content section {
    margin-bottom: 30px;
}

/*specific slideshow styles----------------------*/
#home #slideshow {
    width: 930px;
    height: 430px;
}

#home .slide {
    position: relative;
    width: 928px;
    height: 428px;
}

/*event articles---------------------------------*/
#home .article_list {
    width: 480px;
    margin: 0 0 0 30px;
    float: left;
}

#home .article_list h3 {
    font-size: 1.3em;
    color: #555555;
    margin: 0 0 8px 0;
}

/*restaurant-------------------------------------*/
#home #restaurant {
    width: 420px;
    border: solid 10px #FFFBE3;
    float: left;
}

#home #restaurant .wrapper {
    color: #222222;
    padding: 18px 15px 20px 15px;
    background: #FCFCFC;
    border: 1px solid #222222;
}

#home #restaurant .wrapper h2 {
    font-family: 'Bangers', sans-serif;
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 10px;
}

#home #restaurant .wrapper .text {
    margin-bottom: 15px;
}

#home #restaurant .wrapper .text p {
    font-size: 1.2em;
    line-height: 1.1;
    margin-bottom: 10px;
}

#home #restaurant .wrapper .button_wrapper {
/*    text-align: right;*/
}

#home #restaurant .wrapper .button {
    float: right;
/*    display: inline;*/
    margin-left: 10px;
}
