#content #slideshow:after,
#content #slideshow #slide_nav:after
#content #slideshow .slide:after,
#content #slideshow .slide .slide_title:after,
#content .article_list:after,
#content .article_list article:after,
#content .article_list article a:after,
#content #restaurant .wrapper:after,
#content #register_form form:after,
#content #register_form form .field:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/*GLOBAL STYLES*/
#content .page_title {
    font-family: 'Bangers', sans-serif;
    font-size: 3.2em;
    font-weight: normal;
    color: #FFFBE3;
    margin-bottom: 10px;
    width:250px;
    float:left;
}

#content .info_title {
    font-size: 1.5em;
    color: #555555;
    margin: 14px 0 13px;
    width:680px;
    margin-left: 20px;
    float:left;
}

/*full-width, no info title*/
#register .page_title {
    width: 100%;
}

/*ARTICLE LISTS*/
#content .article_list {
    width: 700px;
    float: left;
}

#home .article_list {
    width: 580px;
    margin: 0 20px 0 0;
    float: left;
}

#home .article_list h3 {
    font-size: 1.3em;
    color: #555555;
    margin: 0 0 8px 0;
}

#content .article_list article {
    margin: 0 0 20px 20px;
    display: block;
    position: relative;
    float: left;
}

#content .article_list article.full_width.short {
    margin: 0 0 20px 0;
}

#content .article_list article a {
    display: block;
    font-weight: normal;
}

#content .article_list article:hover {
    background-color: #333333;
}

#content .article_list article .thumb {
    border: solid 2px #FFFBE3;
    background: #444444;
    width: 120px;
    height: 80px;
    text-align: center;
    overflow: hidden;
}

#content .article_list article .thumb img {
    max-width: 120px;
    max-height: 80px;
    overflow: hidden;
}

#content .article_list article .info h2,
#content .article_list article .info .date,
#content .article_list article .info .summary {
    overflow: hidden;
}

#content .article_list article .info h2 {
    font-family: 'Bangers', sans-serif;
    font-weight: normal;
    color: #FFFBE3;
}

#content .article_list article .price {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    z-index: 50;
}

#content .article_list article .info .date {
    color: #555555;
}

#content .article_list article .info .summary {
    color: #CCCCCC;
}


/* FULL WIDTH ARTICLE*/
#content .article_list article.full_width {

}

#content .article_list article.full_width a.event_detail_link {
    height: 84px;
}

#content .article_list article.full_width .thumb,
#content .article_list article.full_width .info {
    float: left;
}

#content .article_list article.full_width .info {
    margin-left: 15px;
    position: relative;
}

#content .article_list article.full_width .info h2,
#content .article_list article.full_width .info .date,
#content .article_list article.full_width .info .summary {
    width: 541px;
}

#content .article_list article.full_width.short .info h2,
#content .article_list article.full_width.short .info .date,
#content .article_list article.full_width.short .info .summary {
    width: 441px;
}

#content .article_list article.full_width .info h2 {
    font-size: 2.4em;
    margin: 7px 0 5px;
    height: 22px;
}


#content .article_list article.full_width .info .date {
    font-size: 1.2em;
    margin-bottom: 5px;
    height: 12px;
}

#content .article_list article.full_width .info .summary {
    font-size: 1.2em;
    margin-bottom: 8px;
    height: 25px;
}

/* TWO COLUMN ARTICLE*/
#content .article_list article.two_column {
    
}

#content .article_list article.two_column a {
    height: 84px;
}

#content .article_list article.two_column .price {
    display: none;
}

#content .article_list article.two_column .thumb,
#content .article_list article.two_column .info {
    float: left;
}

#content .article_list article.two_column .info {
    margin-left: 15px;
    position: relative;
}

#content .article_list article.two_column .info h2 {
    font-size: 2.4em;
    margin: 7px 0 5px;
    width: 191px;
    height: 22px;
}

#content .article_list article.two_column .info .date {
    font-size: 1.2em;
    margin-bottom: 5px;
    width: 191px;
    height: 12px;
}

#content .article_list article.two_column .info .summary {
    font-size: 1.2em;
    margin-bottom: 8px;
    width: 191px;
    height: 25px;
}


/*CALENDAR*/
/*in gallery and events*/
#calendar_wrapper {
    float: left;
}

#calendar_wrapper #calendar {
    width: 250px;
    height: 300px;
    background-color: #CCCCCC;
}


/*HOMEPAGE*/
/*slideshow---------------*/
#content #slideshow {
    position: relative;
    width: 930px;
    height: 430px;
    background: #FCFCFC;
    margin-bottom: 20px;
    border: solid 10px #FFFBE3;
}

#content #slide_nav {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 50;
}

#content #slide_nav a {
    font-family: 'Bangers', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    padding: 3px 10px 3px 8px;
    margin-left: 5px;
    background: #CCCCCC;
    border: solid 1px #999999;
}

#content #slide_nav a:hover,
#content #slide_nav a.activeSlide {
    background: #FFFBE3;
    color: #222222;
    border: solid 1px #222222;
}

#content .slide {
    position: relative;
    width: 928px;
    height: 428px;
    border: 1px solid #222222;
}

#content .slide .slide_title{
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-family: 'Bangers', sans-serif;
    font-size: 4.5em;
    font-weight: normal;
    padding: 3px 10px 3px 8px;
    margin-left: 5px;
    background: #FFFBE3;
    color: #222222;
    border: solid 1px #222222;
}

/*restaurant---------------*/
#content #restaurant {
    width: 330px;
    border: solid 10px #FFFBE3;
    float: left;
}

#content #restaurant .wrapper {
    color: #222222;
    padding: 18px 15px 25px 15px;
    background: #FCFCFC;
    border: 1px solid #222222;
}

#content #restaurant .wrapper h2 {
    font-family: 'Bangers', sans-serif;
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 10px;
}

#content #restaurant .wrapper p {
    font-size: 1.2em;
    line-height: 1.1;
    margin-bottom: 25px;
}

/*float bug for buttons so added wrapper*/
#content #restaurant .wrapper .button_wrapper {
    text-align: right;
}

#content #restaurant .wrapper .button {
    display: inline;
    margin-left: 10px;
}


/*NEWS*/
#news #news_nav {
    width: 250px;
    float: left;
}

#news #news_nav ul li {
/*    margin-bottom: 5px;*/
    text-align: right;
}

#news #news_nav ul li a {
    font-family: 'Bangers', sans-serif;
    font-weight: normal;
    font-size: 2.8em;
    height: 38px;
    width: 200px;
    padding: 12px 50px 0 0;
    display:block;
}

#news #news_nav ul li a.active:hover,
#news #news_nav ul li a.active {
    color: #FFFBE3;
    background: url('../images/news-nav-highlight.png') no-repeat 0 0;
    cursor: default;
}

#news #news_nav ul li a:hover {
    color: #FFFBE3;
    background: url('../images/news-nav-hover.png') no-repeat 0 0;
}


/*AUDITIONS*/

/*restaurant---------------*/
#content #register_form {
    width: 600px;
    margin-right: 20px;
    float: left;
}

#content #register_form h3 {
    font-size: 1.5em;
    font-weight:normal;
    padding: 20px 0 10px;
    float: left;
}

#content #register_form .field {
    padding: 0 20px 20px 0;
    float: left;
}

#content #register_form .field,
#content #register_form .field input[type='text'],
#content #register_form .field input[type='password'] {
    width: 280px;
}

#content #register_form h3,
#content #register_form .field.full {
    width: 580px;
}

#content #register_form .field.half,
#content #register_form .field.half input[type='text'],
#content #register_form .field.half input[type='password'] {
    width: 180px;
}

#content #register_form label {
    font-size: 1.2em;
    color: #888888;
    margin: 0 15px 8px 0;
    display: block;
}

#content #register_form label.gender {
    font-size: 1.3em;
    color: #F2F2F2;
    margin: 0 10px 0 0;
    float: left;
}

#content #register_form label.gender.female {
    margin: 0 10px 0 20px;
}

#content #register_form select {
    width: auto;
}

#content #register_form .field select,
#content #register_form .field input[type='text'],
#content #register_form .field input[type='password'] {
    color: #F2F2F2;
    font-size: 1.2em;
    background-color: #444444;
    border: 1px solid #666666;
    display: block;
}

#content #register_form input[type='radio'] {
    margin: 0;
    padding: 0;
    float: left;
}

#content #register_form select.date {
    margin: 0 3px 0 0;
    padding: 0;
    float: left;
}

#content #register_form input[type='text'],
#content #register_form input[type='password'] {
    padding: 3px 0 3px 3px;
}

#content #sign_in_box {
    width: 310px;
    border: solid 10px #FFFBE3;
    float: left;
}

#content #sign_in_box .wrapper {
    color: #222222;
    padding: 18px;
    background: #FCFCFC;
    border: 1px solid #222222;
    overflow: hidden;
}

#content #sign_in_box .wrapper h3 {
    font-family: 'Bangers', sans-serif;
    font-weight: normal;
    font-size: 2.8em;
    margin-top: 3px;
    float: left;
}

#content #sign_in_box .wrapper .button {
    float: left;
    margin-left: 15px;
}