#content #slideshow:after,
#content #slideshow #slide_nav:after
#content #slideshow .slide:after,
#content #slideshow .slide .slide_title:after,
#content .article_list:after,
#content .article_list article:after,
#content .article_list article a:after,
#content #restaurant .wrapper:after,
#content #register .instructions h2:after,
#content #register .instructions p:after,
#content #register_form form .field:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/*GLOBAL STYLES----------------------------------*/
/*-----------------------------------------------*/
#content .section_title {
    font-family: 'Bangers', sans-serif;
    font-size: 3.2em;
    font-weight: normal;
    color: #FFFBE3;
    margin-bottom: 10px;
    width:250px;
    float:left;
}

#content .info_title {
    font-size: 1.5em;
    color: #555555;
    margin: 14px 0 13px;
    width:680px;
    margin-left: 20px;
    float:left;
}

/*SLIDESHOW--------------------------------------*/
#content #slideshow {
    position: relative;
    background: #FCFCFC;
    border: solid 10px #FFFBE3;
}

#content #slide_nav {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 50;
}

#content #slide_nav a {
    font-family: 'Bangers', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    padding: 3px 10px 3px 8px;
    margin-left: 5px;
    background: #CCCCCC;
    border: solid 1px #999999;
}

#content #slide_nav a:hover,
#content #slide_nav a.activeSlide {
    background: #FFFBE3;
    color: #222222;
    border: solid 1px #222222;
}

#content .slide {
    position: relative;
    border: 1px solid #222222;
}

#content .slide .slide_title{
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-family: 'Bangers', sans-serif;
    font-size: 4.5em;
    font-weight: normal;
    padding: 3px 10px 3px 8px;
    margin-left: 5px;
    background: #FFFBE3;
    color: #222222;
    border: solid 1px #222222;
}

/*ARTICLE LISTS----------------------------------*/
#content .article_list {
    width: 700px;
    float: left;
}

#home .article_list {
    width: 580px;
    margin: 0 20px 0 0;
    float: left;
}

#home .article_list h3 {
    font-size: 1.3em;
    color: #555555;
    margin: 0 0 8px 0;
}

#content .article_list article {
    margin: 0 0 20px 20px;
    display: block;
    position: relative;
    float: left;
}

#content .article_list article.full_width.short {
    margin: 0 0 20px 0;
}

#content .article_list article a {
    display: block;
    font-weight: normal;
}

#content .article_list article:hover {
    background-color: #333333;
}

#content .article_list article .thumb {
    border: solid 2px #FFFBE3;
    background: #444444;
    width: 120px;
    height: 80px;
    text-align: center;
    overflow: hidden;
}

#content .article_list article .thumb img {
    max-width: 120px;
    max-height: 80px;
    overflow: hidden;
}

#content .article_list article .info h2,
#content .article_list article .info .date,
#content .article_list article .info .summary {
    overflow: hidden;
}

#content .article_list article .info h2 {
    font-family: 'Bangers', sans-serif;
    font-weight: normal;
    color: #FFFBE3;
}

#content .article_list article .price {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    z-index: 50;
}

#content .article_list article .info .date {
    color: #555555;
}

#content .article_list article .info .summary {
    color: #CCCCCC;
}


/* FULL WIDTH ARTICLE-----------------------------*/
#content .article_list article.full_width {

}

#content .article_list article.full_width a.event_detail_link {
    height: 84px;
}

#content .article_list article.full_width .thumb,
#content .article_list article.full_width .info {
    float: left;
}

#content .article_list article.full_width .info {
    margin-left: 15px;
    position: relative;
}

#content .article_list article.full_width .info h2,
#content .article_list article.full_width .info .date,
#content .article_list article.full_width .info .summary {
    width: 541px;
}

#content .article_list article.full_width.short .info h2,
#content .article_list article.full_width.short .info .date,
#content .article_list article.full_width.short .info .summary {
    width: 441px;
}

#content .article_list article.full_width .info h2 {
    font-size: 2.4em;
    margin: 7px 0 5px;
    height: 22px;
}


#content .article_list article.full_width .info .date {
    font-size: 1.2em;
    margin-bottom: 5px;
    height: 12px;
}

#content .article_list article.full_width .info .summary {
    font-size: 1.2em;
    margin-bottom: 8px;
    height: 25px;
}

/* TWO COLUMN ARTICLE----------------------------*/
#content .article_list article.two_column {
    
}

#content .article_list article.two_column a {
    height: 84px;
}

#content .article_list article.two_column .price {
    display: none;
}

#content .article_list article.two_column .thumb,
#content .article_list article.two_column .info {
    float: left;
}

#content .article_list article.two_column .info {
    margin-left: 15px;
    position: relative;
}

#content .article_list article.two_column .info h2 {
    font-size: 2.4em;
    margin: 7px 0 5px;
    width: 191px;
    height: 22px;
}

#content .article_list article.two_column .info .date {
    font-size: 1.2em;
    margin-bottom: 5px;
    width: 191px;
    height: 12px;
}

#content .article_list article.two_column .info .summary {
    font-size: 1.2em;
    margin-bottom: 8px;
    width: 191px;
    height: 25px;
}


/*CALENDAR-------------------------------------*/
/*in gallery and events*/
#calendar_wrapper {
    float: left;
}

#calendar_wrapper #calendar {
    width: 250px;
    height: 300px;
    background-color: #CCCCCC;
}

/*FIELDS-----------------------------------------*/
/*field------------------------------------------*/
#content form .field {
    padding-bottom: 20px;
}

#content form .field,
#content form .field input[type='text'],
#content form .field input[type='password'],
#content form .field textarea {
    width: 268px;
}

#content form .field textarea {
    height: 80px;
}

#content form .field.full {
    width: 580px;
}

#content form .field.half,
#content form .field.half input[type='text'],
#content form .field.half input[type='password'],
#content form .field.half textarea {
    width: 180px;
}

#content form label {
    font-size: 1.2em;
    color: #888888;
    margin: 0 15px 8px 0;
    display: block;
}

#content form select {
    width: auto;
}

#content form .field select,
#content form .field input[type='text'],
#content form .field input[type='password'],
#content form .field textarea {
    color: #F2F2F2;
    font-size: 1.2em;
    font-family: 'Arial', sans-serif;
    background-color: #444444;
    border: 1px solid #666666;
    display: block;
}

#content form label.gender {
    font-size: 1.3em;
    color: #F2F2F2;
    margin: 0 10px 0 0;
    display: inline;
/*    float: left;*/
}

#content form label.gender.female {
    margin: 0 10px 0 20px;
}

#content form input[type='radio'] {
    margin: 0;
    padding: 0;
    display: inline;
/*    float: left;*/
}

#content form select.date {
    margin: 0 3px 0 0;
    padding: 0;
    display: inline;
/*    float: left;*/
}

#content form input[type='text'],
#content form input[type='password'],
#content form textarea {
    padding: 3px 0 3px 3px;
}



/*STYLES FOR SPECIFIC PAGES----------------------*/
/*-----------------------------------------------*/


/*HOMEPAGE---------------------------------------*/
/*specific slideshow styles----------------------*/
#home #slideshow {
    width: 930px;
    height: 430px;
    margin-bottom: 20px;
}

#home .slide {
    position: relative;
    width: 928px;
    height: 428px;
}

/*restaurant-------------------------------------*/
#content #restaurant {
    width: 330px;
    border: solid 10px #FFFBE3;
    float: left;
}

#content #restaurant .wrapper {
    color: #222222;
    padding: 18px 15px 25px 15px;
    background: #FCFCFC;
    border: 1px solid #222222;
}

#content #restaurant .wrapper h2 {
    font-family: 'Bangers', sans-serif;
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 10px;
}

#content #restaurant .wrapper p {
    font-size: 1.2em;
    line-height: 1.1;
    margin-bottom: 25px;
}

/*float bug for buttons so added wrapper*/
#content #restaurant .wrapper .button_wrapper {
    text-align: right;
}

#content #restaurant .wrapper .button {
    display: inline;
    margin-left: 10px;
}


/*NEWS-------------------------------------------*/
/*news navugation by year------------------------*/
#news #news_nav {
    width: 250px;
    float: left;
}

#news #news_nav ul li {
/*    margin-bottom: 5px;*/
    text-align: right;
}

#news #news_nav ul li a {
    font-family: 'Bangers', sans-serif;
    font-weight: normal;
    font-size: 2.8em;
    height: 38px;
    width: 200px;
    padding: 12px 50px 0 0;
    display:block;
}

#news #news_nav ul li a.active:hover,
#news #news_nav ul li a.active {
    color: #FFFBE3;
    background: url('../images/news-nav-highlight.png') no-repeat 0 0;
    cursor: default;
}

#news #news_nav ul li a:hover {
    color: #FFFBE3;
    background: url('../images/news-nav-hover.png') no-repeat 0 0;
}


/*AUDITIONS--------------------------------------*/
#register #content section {
    margin-bottom: 25px;
    float: left;
}

#register section.instructions {
    width: 570px;
    margin-right: 50px;
}

/*full-width, no info title----------------------*/
#register .instructions .section_title {
    width: 100%;
/*    float: left;*/
}

#register .instructions p {
    font-size: 1.4em;
    line-height: 1.2;
/*    float: left;*/
}

/*sign in box------------------------------------*/
#content section#sign_in_box {
    width: 310px;
    border: solid 10px #FFFBE3;
    margin-top: 15px;
}

#content #sign_in_box .wrapper {
    color: #222222;
    padding: 18px;
    background: #FCFCFC;
    border: 1px solid #222222;
    overflow: hidden;
}

#content #sign_in_box .wrapper h3 {
    font-family: 'Bangers', sans-serif;
    font-weight: normal;
    font-size: 2.8em;
    margin-top: 3px;
    float: left;
}

#content #sign_in_box .wrapper .button {
    float: left;
    margin-left: 15px;
}

/*specific form and field styles-----------------*/
#content section#register_form {
    width: 600px;
    margin-right: 20px;
}

#content #register_form h3 {
    font-size: 1.5em;
    font-weight:normal;
    padding: 20px 0 10px;
/*    float: left;*/
}

#content #register_form .form_long.field {
    display: none;
}

#content #register_form.extended .form_long.field {
    display: block;
}

#content #register_form .form_section {
    width: 280px;
    margin-right: 20px;
    float: left;
}

#content #register_form .button {
    float: right;
}

/*ABOUT------------------------------------------*/
/*specific style for heading---------------------*/
#about #content h2 {
    float: none;
    width: 100%;
}

#about #content section {
    margin-bottom: 45px;
    width: 450px;
    float: left;
}

#content section.location,
#content section.contact_us {
    margin-right: 50px;
}

#content section.location .map_wrapper {
    border: solid 10px #FFFBE3;
}

#content section.location .map_wrapper #map_canvas {
    background: #FCFCFC;
    border: 1px solid #222222;
    width: 429px;
    height: 199px;
}

#content section.about_us p {
    font-size: 1.4em;
    line-height: 1.1;
    margin-bottom: 10px;
}

#content section.contact_us form {
    width: 286px;
}

#content section.contact_us form .button {
    float: right;
    margin-left: 10px;
}

/*UPCOMING EVENT DETAIL--------------------------*/
#content section {
    float: left;
}

#content section.event_pictures {
    width: 600px;
}

#content .event_pictures h2 {
    width: 100%;
    float: none;
}

#events #slideshow {
    max-width: 580px;
    max-height: 380px;
    overflow: hidden;
    width: auto;
    float: none;
}

#events #slideshow .slide {
    max-width: 578px;
    max-height: 378px;
    overflow: hidden;
    background-color: #444444;
}

#events #slideshow .slide img {
    
}

#events section.event_detail {
    width: 300px;
    margin-left: 50px;
}

#events .event_detail .detail_nav {
    width: 100%;
    margin: 5px 0 15px;
    float: left;
}

#events .event_detail .detail_nav .button {
    display: block;
    margin-left: 20px;
    float: right;
}

#events .event_detail .detail_info {
    clear: both;
    float: left;
    margin-bottom: 15px;
}

#events .event_detail .detail_info h3 {
    font-size: 1.8em;
    font-weight: normal;
}

#events .event_detail .detail_info h4 {
    font-size: 1.3em;
    font-weight: normal;
    color: #666666;
    margin-bottom: 5px;
}

#events .event_detail .detail_info p,
#events .event_detail .detail_info ul li {
    font-size: 1.2em;
    line-height: 1.2;
}

#events .event_detail .detail_info .button {
    margin-top: 8px;
    clear: both;
    float: left;
}

#events .event_detail .detail_info.venue {
    clear: left;
}

#events .event_detail .detail_info.details {
    margin-left: 30px;
    clear: right;
}
