#content #slideshow:after,
#content #slideshow #slide_nav:after
#content #slideshow .slide:after,
#content #slideshow .slide .slide_title:after,
#content .article_list:after,
#content .article_list article:after,
#content .article_list article a:after,
#content #restaurant .wrapper:after,
#content #register .instructions h2:after,
#content #register .instructions p:after,
#content #register_form_wrapper form .field:after,
#content .field #submit:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* clearfix with overflow */
#content form .gender,
#content form .checkbox,
#content form .submit {
    overflow: hidden;
}

/*GLOBAL STYLES----------------------------------*/
/*-----------------------------------------------*/
#content .page_title {
    font-family: 'Bangers', sans-serif;
    font-size: 3.2em;
    font-weight: normal;
    color: #FFFBE3;
    margin-bottom: 10px;
}

#events #content .page_title,
#gallery #content .page_title {
    width:100%;
    float:left;
}

#detail #content .section_title {
    width:100%;
}

/*SLIDESHOW--------------------------------------*/
#content #slideshow {
    position: relative;
    background: #FCFCFC;
    border: solid 10px #FFFBE3;
}

#content #slide_nav {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 50;
}

#content #slide_nav a {
    font-family: 'Bangers', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    padding: 3px 10px 3px 8px;
    margin-left: 5px;
    background: #CCCCCC;
    border: solid 1px #999999;
}

#content #slide_nav a:hover,
#content #slide_nav a.activeSlide {
    background: #FFFBE3;
    color: #222222;
    border: solid 1px #222222;
}

#content .slide {
    position: relative;
    border: 1px solid #222222;
}

#content .slide .slide_title{
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-family: 'Bangers', sans-serif;
    font-size: 4.5em;
    font-weight: normal;
    padding: 3px 10px 3px 8px;
    margin-left: 5px;
    background: #FFFBE3;
    color: #222222;
    border: solid 1px #222222;
}

/*ARTICLE LISTS----------------------------------*/
#content .article_list {
    width: 700px;
    float: left;
}

#events #content .article_list,
#gallery #content .article_list {
    width: 700px;
    float: left;
}

#content .article_list .empty {
    margin: 10px 0 0 50px;
    font-size: 1.6em;
}

#content #news .article_list .empty {
    margin: 20px 0 0 20px;
}

#content .article_list article {
    margin: 0 0 20px 20px;
    display: block;
    position: relative;
    float: left;
}

#content .article_list article a {
    display: block;
    font-weight: normal;
}

#content .article_list article:hover {
    background-color: #333333;
}

#content .article_list article .thumb {
    border: solid 2px #FFFBE3;
    background: #444444;
    width: 120px;
    height: 80px;
    text-align: center;
    overflow: hidden;
}

#content .article_list article .thumb img {
    min-width: 120px;
/*    max-height: 80px;*/
    overflow: hidden;
}

#content .article_list article .info h2,
#content .article_list article .info .date,
#content .article_list article .info .summary {
    overflow: hidden;
}

#content .article_list article .info h2 {
    font-family: 'Bangers', sans-serif;
    font-weight: normal;
    color: #FFFBE3;
}

#content .article_list article .price {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    z-index: 50;
}

#content .article_list article .info .date {
    color: #555555;
}

#content .article_list article .info .summary {
    color: #CCCCCC;
}


/* FULL WIDTH ARTICLE-----------------------------*/
#content .article_list article.full_width {
    margin: 0 0 20px 20px;
}

#content .article_list article.full_width.short {
    margin: 0 0 20px 0;
    width: 480px;
}

#content .article_list article.full_width a.detail_link {
    height: 84px;
}

#content .article_list article.full_width .thumb,
#content .article_list article.full_width .info {
    float: left;
}

#content .article_list article.full_width .info {
    margin-left: 15px;
    position: relative;
}

#content .article_list article.full_width .info h2,
#content .article_list article.full_width .info .date,
#content .article_list article.full_width .info .summary {
    width: 541px;
}

#content .article_list article.full_width.short .info h2,
#content .article_list article.full_width.short .info .date,
#content .article_list article.full_width.short .info .summary {
    width: 285px;
}

#content .article_list article.full_width .info h2 {
    font-size: 2.4em;
    margin: 7px 0 5px;
    height: 22px;
}


#content .article_list article.full_width .info .date {
    font-size: 1.2em;
    margin-bottom: 5px;
    height: 12px;
}

#content .article_list article.full_width .info .summary {
    font-size: 1.2em;
    margin-bottom: 8px;
    height: 25px;
}

/* TWO COLUMN ARTICLE----------------------------*/
#content .article_list article.two_column {
    
}

#content .article_list article.two_column a {
    height: 84px;
}

#content .article_list article.two_column .price {
    display: none;
}

#content .article_list article.two_column .thumb,
#content .article_list article.two_column .info {
    float: left;
}

#content .article_list article.two_column .info {
    margin-left: 15px;
    position: relative;
}

#content .article_list article.two_column .info h2 {
    font-size: 2.4em;
    margin: 7px 0 5px;
    width: 191px;
    height: 22px;
}

#content .article_list article.two_column .info .date {
    font-size: 1.2em;
    margin-bottom: 5px;
    width: 191px;
    height: 12px;
}

#content .article_list article.two_column .info .summary {
    font-size: 1.2em;
    margin-bottom: 8px;
    width: 191px;
    height: 25px;
}


/*CALENDAR-------------------------------------*/
/*in gallery and events*/
#calendar_wrapper {
    padding-right: 30px;
    float: left;
}

#calendar_wrapper #calendar {
    width: 220px;
    height: 300px;
}

#calendar_wrapper #calendar td {
    vertical-align: middle;
}

#calendar_wrapper #calendar #calendar_title {
    font-size: 1.6em;
}

#calendar_wrapper #calendar a.calendar_arrow {
    width: 15px;
    height: 15px;
    display: block;
    background-image: url('../images/calendar_arrow.png');
    background-repeat: no-repeat;
    overflow: hidden;
}

#calendar_wrapper #calendar a.calendar_arrow.left {
    background-position: 0 0;
}

#calendar_wrapper #calendar a.calendar_arrow.left:hover {
    background-position: -15px 0;
}

#calendar_wrapper #calendar a.calendar_arrow.right {
    background-position: -45px 0;
}

#calendar_wrapper #calendar a.calendar_arrow.right:hover {
    background-position: -30px 0;
}


/*FIELDS-----------------------------------------*/
/*field------------------------------------------*/
#content .field.msg {
    padding: 0;
}

#content #msg {
    display: none;
    font-size: 1.6em;
    padding: 10px 0 20px;
}

#content #msg.active {
    display: block;
}

#content form .form_section {
    width: 280px;
    margin-right: 30px;
    float: left;
}

#content form .form_section.last {
    margin-right: 0;
}

#content form h3 {
    font-size: 1.5em;
    font-weight:normal;
    padding: 20px 0 7px;
    border-bottom: solid 1px #666666;
    margin-bottom: 15px;
}

#content #register_form h3 {
    border-bottom: none;
    padding-bottom: 0;
}

#content form .field {
    padding-bottom: 18px;
}

#content form .field,
#content form .field input[type='text'],
#content form .field input[type='password'],
#content form .field input[type='file'],
#content form .field textarea {
    width: 268px;
/*    width: 100%;*/
}

#content form .field textarea {
    height: 80px;
}

#content form .field.full,
#content form .field.full input[type='text'],
#content form .field.full input[type='password'],
#content form .field.full input[type='file'],
#content form .field.full textarea {
    width: 100%;
}

#content form .field.half,
#content form .field.half input[type='text'],
#content form .field.half input[type='password'],
#content form .field.half input[type='file'],
#content form .field.half textarea {
    width: 50%;
}

#content form label {
    font-size: 1.2em;
    color: #888888;
    margin: 0 15px 5px 0;
    display: block;
}

#content form select {
    width: auto;
}

#content form .field select,
#content form .field input[type='text'],
#content form .field input[type='password'],
#content form .field input[type='file'],
#content form .field textarea {
    color: #F2F2F2;
    font-size: 1.2em;
    font-family: 'Arial', sans-serif;
    background-color: #444444;
    border: 1px solid #666666;
    display: block;
}

#content form .field select.error,
#content form .field input.error,
#content form .field input.invalid_email,
#content form .field textarea.error {
    border: 1px solid #BB232A;
}

#content form .field.gender label.male,
#content form .field.gender label.female,
#content form .field.checkbox label {
    color: #F2F2F2;
    margin: 0 10px 0 0;
    line-height: 1.2;
    float: left;
}

#content form .field.checkbox label {
    width: 220px;
    margin-left: 10px;
}

#content form .field.gender label {
    font-size: 1.3em;
}

#content form .field.gender label.female {
    margin: 0 10px 0 20px;
}

#content form input[type='radio'],
#content form input[type='checkbox'] {
    margin: 0;
    padding: 0;
    float: left;
    display: block;
}

#content form select.date {
    margin: 0 3px 0 0;
    padding: 0;
    display: inline;
/*    float: left;*/
}

#content form input[type='text'],
#content form input[type='password'],
#content form textarea {
/*    padding: 3px 0 3px 3px;*/
    padding: 3px 0;
    tex-indent: 3px;
}

#content form input[type='submit'] {
    border: none;
}

#content form .button,
#content form #submit {
    float: right;
}

/*TABS-------------------------------------------*/
#content.tabs .tab {
    display: none;
}

#content.tabs .tab.active {
    display: block;
}

#content.tabs #videos {
    position: relative;
}

#content.tabs #videos .tab {
    position: relative;
    z-index: -1;
}

#content.tabs #videos .tab.active {
    z-index: 10;
}


