<style>
td
{
	font-size:11px;
	font-family:Verdana;
	font-weight:normal;
	color:#000000;
}
a{
	font-size:11px;
	font-family:Verdana;
	font-weight:normal;
	color:#0066CC;
	text-decoration: none;
}
a:hover{
	font-size:11px;
	font-family:Verdana;
	font-weight:normal;
	color:#000000;
	text-decoration: underline;
}

</style>
